<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Homepage</title>
</head>
<body>
    <h1>Welcome to Homepage</h1>
    <div>
        <button type="submit"><a href="/logout/">Log Out</a></button>
        <button type="submit"><a href="/accdetails/">View My Username and Email</a></button>
        <button type="submit"><a href="/list_users/">Show all users</a></button>
    </div>

</body>
</html>
